﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tima-ade University</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ol>
    <li>Ahmed Ali</li>
    <li>Amina Jama</li>
</ol>

<br />
<img src="~/myimage.jpg" style="width:150px; height:150px;"/>