﻿@model student;

<h3>
    Welcome to Timaade University
</h3>

<div style="background-color:cyan; color:red; font-size:20px; border::1px solid; border-radius:10px; padding:10px;">
    <p>You have searched student in our directory. We found the following student details:</p>
    <b>ID:</b> @Model.id.ToString()  <br />
    <b>Name:</b> @Model.name  <br />
    <b>Mobile:</b> @Model.mobile  <br />
    <b>Email:</b> @Model.email  <br />
    <b>Class Name:</b> @Model.classname <br />
    <b>Mother Name: </b> @Model.mother

</div>